/*Todos*/
*{
	margin: 0;
	padding: 0;
}
body,h1,h2,h3,h4,h5{
	font-family: "Raleway", sans-serif;
}
body{
	color: #000000!important;
	background-color: #f1f1f1!important;
}


/*Para Desktops*/

/*Estilo do cabeçalho*/
.cabecalho{
	text-align: center;
	display: block;
	width: 100%;
	padding: 4% 0% 4% 0%;
}
.cabecalho h1{
	text-transform: uppercase;
	margin: 0% 0% 1.5% 0%;
	font-size: 2.5em;
}
.cabecalho p{
	font-size: 1em;
}
.cabecalho span{
	padding: 0.3% 0.5% 0.3% 0.5%;
	background-color: #000000;
	color: #FFFFFF;
}

img{
	width: 100%;
}
.titulo{
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 7%;
	padding: 2% 6% 2% 2%;
}
.titulo h2{
	font-size: 1.8em;
	margin-bottom: 1.5%;
}
.titulo h4{
	margin-bottom: 2.5%;
}
.titulo p{
	margin-bottom: 3.5%;
}
.titulo button{
	text-transform: uppercase;
	padding: 1.8% 2.8%;
	float: left;
	background-color: #FFFFFF;
	border: .3px solid #ccc;
}
.titulo button:hover{
	background-color: #ccc;
}
.titulo .p2{
	float: right;
	margin: 0;
}
.titulo .p2 span{
	background-color: #000000;
	padding: 3%;
	color: #FFFFFF;
}

/*Para todos os cards*/
.card-shadow{
	width: 100%;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
	margin-left: 1.5%;
}


/*card1*/
.card1{
	max-width: 63%;
	float: left;
}

/*Card2*/
.card2{
	max-width: 30%;
	float: right;
	margin-right: 3%;
}

/*Para tablets*/
@media only screen and (max-width: 999px;){

}



/*Para celulares*/
@media only screen and (max-width: 599px;){

}